<ion-header>
  <ion-toolbar class="custom-toolbar">

    <ion-buttons slot="start">
      <ion-button (click)="dismiss()"> <ion-icon name="close-circle"></ion-icon> </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="BackgroundColor">

  <ion-card>
          
    <img alt="" src="https://www.purina.es/sites/default/files/2021-02/CAT%20HERO_0013_Norwegian_forest.jpg"/>

    <ion-card-header>
      <ion-card-title> Gato Bosque De Noruega </ion-card-title>
      <ion-card-subtitle> Atento y Cariñoso </ion-card-subtitle>  
    </ion-card-header>
        
    <ion-card-content> 
      <p>
        Proveniente de los frondosos bosques escandinavos nos encontramos a los gatos bosque de Noruega, cuyo aspecto recuerda al de un pequeño lince.
        Pero que este aspecto salvaje no nos engañe, estamos ante un gato increíblemente cariñoso y sociable, tanto es así que incluso hay tutores que los sacan de paseo.
        Su historia es increíble y fascinante, estando cargada de magia y misticismo vikingo. Es uno de los gatos que no temen al agua, siendo incluso un excelente pescador.
        Tampoco hay que dejarse engañar por su sólido físico, pues se trata de un animal sorprendentemente ágil que puede llegar a ser todo un acróbata digno de las piruetas más alucinantes.
      </p>
    </ion-card-content>
          
  </ion-card>

  <ion-button expand="full" (click)="sendEmail()"> Enviar a mi correo </ion-button>
  
</ion-content>
  

