@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";

/* CSS GLOBAL DEL PROYECTO WIKICATSMOBILEREFORGED */

ion-toolbar.custom-toolbar {
  --background: url('https://img.freepik.com/premium-photo/cute-cartoon-cat-with-pink-background-white-polka-dots_14117-803610.jpg') no-repeat center center;
  --background-size: cover;
}

ion-content.BackgroundColor {
  --background: #2a2a2b;
}

ion-card-title{
  text-align: center;
}

ion-card-subtitle{
  text-align: center;
}

ion-imput{
  text-align: left;
}

.cat-image {
  width: 400px;  
  height: 200px; 
  border-radius: 10px; 
  margin: 3px; 
}

div{
  text-align: left;
}

ion-button{
    text-align: center;
    color: white;
    --background: #fbb0aa;
}

h1{
    text-align: center;
}

p {
    text-align: justify;
    padding: 10px;
}

ion-fab-button ion-icon {
    font-size: 32px; 
}
  
  ion-fab-list ion-fab-button ion-icon {
    font-size: 30px; 
}

ion-fab-button {
  --background: #fbb0aa; 
}
  
  ion-fab-button ion-icon {
  color: white; 
}
  
  ion-fab-list ion-fab-button {
  --background: #fbb0aa; 
}
  
  ion-fab-list ion-fab-button ion-icon {
  color: white; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  padding: 10px; 
}
  
.grid-item {
  overflow: hidden; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
  
.cat-image {
  width: 300px;
  height: 200px; 
  margin: 3px; 
}

.captured-Image{
  height: 250px; 
  margin: 3px; 
}
  
  
  




  


  






