<div class="ion-page" id="main-content"></div>

<ion-header [translucent]="true">
    <ion-toolbar class="custom-toolbar">

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title> Wiki Cats Mobile </ion-title>

    </ion-toolbar>
    
</ion-header>

<ion-content [fullscreen]="true" class="contentcss"> <!-- clase importante ccs toda la pagina UwU -->

  <ion-menu contentId="main-content" >
    <ion-header>
      <ion-toolbar class="custom-toolbar">
        <ion-title> Wiki Cats Mobile </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="contentcss"> 

      <ion-button expand="full" class="colorboton"><ion-icon name="paw-sharp"></ion-icon> Perfil </ion-button> 
      <ion-button expand="full" class="colorboton"><ion-icon name="paw-sharp"></ion-icon> Configuración </ion-button>
      <ion-button expand="full" class="colorboton" (click)="Salir()"><ion-icon name="paw-sharp"></ion-icon> Cerrar Sesión </ion-button>

    </ion-content>
  </ion-menu>

    <h2> Bienvenido {{login.usuario}} </h2>

  <ul></ul>
  <ul></ul>
  <ul></ul>

    <p> En esta wiki podrás encontrar origenes y diversos datos curiosos de las distintas razas de nuestros amigos felinos presentes en diferentes partes del mundo </p>

  <ul></ul>
  <ul></ul>
  <ul></ul>

  <h3> Lista De Razas </h3>

  <ion-list lines="none">

  <!-- Inicio Primer Gato -->

  <ion-item class="contentcss">

    <ion-avatar slot="start">
      <img alt="" src="https://www.purina.es/sites/default/files/2021-02/CAT%20HERO_0013_Norwegian_forest.jpg"/>
    </ion-avatar>

    <ion-label> Gato Bosque De Noruega </ion-label>

    <ion-button (click)="setOpen('GatoNoruego',true)" class="colorboton"><ion-icon name="paw-sharp"></ion-icon> +Info </ion-button>
    <ion-modal [isOpen]="GatoNoruego">

    <ng-template>
      <ion-header>
        <ion-toolbar class="custom-toolbar"> 
  
          <ion-buttons slot="start">
            <ion-button (click)="setOpen('GatoNoruego',false)"><ion-icon name="close-circle" class="iconocerrar"></ion-icon></ion-button>
          </ion-buttons>

        </ion-toolbar>
      </ion-header>

    <!-- CARTA GATO 1 -->

    <ion-content class="contentcss">

      <ion-card class="csscarta">
            
        <img alt="" src="https://www.purina.es/sites/default/files/2021-02/CAT%20HERO_0013_Norwegian_forest.jpg"/>

        <ion-card-header>
          <ion-card-title> Gato Bosque De Noruega </ion-card-title>
          <ion-card-subtitle> Atento y Cariñoso </ion-card-subtitle>  
        </ion-card-header>
          
        <ion-card-content> 
          <p>
            Proveniente de los frondosos bosques escandinavos nos encontramos a los gatos bosque de Noruega, cuyo aspecto recuerda al de un pequeño lince.
            Pero que este aspecto salvaje no nos engañe, estamos ante un gato increíblemente cariñoso y sociable, tanto es así que incluso hay tutores que los sacan de paseo.
            Su historia es increíble y fascinante, estando cargada de magia y misticismo vikingo. Es uno de los gatos que no temen al agua, siendo incluso un excelente pescador.
            Tampoco hay que dejarse engañar por su sólido físico, pues se trata de un animal sorprendentemente ágil que puede llegar a ser todo un acróbata digno de las piruetas más alucinantes.
          </p>
        </ion-card-content>
            
        </ion-card>
    </ion-content>
    </ng-template>
    </ion-modal>

  </ion-item>

  </ion-list> <!-- Cierre Lista Gatos -->

</ion-content>
