h2{
  text-align: center;
  padding-top: 5px;
  margin: 5px;
}

p{
  text-align: justify;
  margin: 5px;
}

.iconocerrar{
  font-size: 30px;
}

.csscarta{
  width: 100%;
  margin: 0;
}

.colorboton{
  --background: #fbb0aa;
  --color: #ffffff ;
}

.contentcss{
  --background: #262626;
  text-align: center;
}

ion-label{
  text-align: left;
}

ion-list{
  padding-top: 0px;
  padding-bottom: 0px;
}

ion-modal{
  text-align: center;
}

ion-icon{
  margin-right: 5px;
}
